$light:  #F4F1DE;
$dark: #3D405B;
$main: #FF5E5B;
$second: #00CECB;
$cot: #FFED66;

body {
    background-color: $light;
}

.jumbotron {
    background-color: $second;
}

h1 {
    color: $main;
    font-size: 6em;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.buttonz button {
    margin-right: 20px;
}